$def with (name, pics)

<html>
    <head>
        <title>PICNOTE</title>
        <style media="screen" type="text/css" resource="style.css"></style>
        <link rel=stylesheet ref="stylesheet" href="static/style.css" type="text/css">

        <script type="text/javascript">
            function display_alert(){
                search = document.getElementById("search");
                alert(search.value);
            }
        </script>
    </head>

    <header>

        <!--
        <link rel="header" href="header.html">
        -->
    </header>

    <body>
    <div id="container">
        <div id="header">
            <!--
            <iframe src="header.html"></iframe>
            -->
        </div>
        <form id="searchbox" action="">
            <input id="search" type="text" placeholder="Type Here">
            <input id="submit" type="submit" value="Search" onclick="display_alert()">
        </form>

        <div id="left">
            <!-- nav bar -->
            left bar
        </div>


        <div id="page" style="columns:2">
$if name:
    welcome, $name.

$for picname in pics:
    <li>$picname</li>
    <li>
    <img src="$picname" style="-webkit-user-select: none; cursor: zoom-in;" width="300" height="200">
    </li>
        </div>

        <div id="footer">
            <link rel="footer" href="footer.html">
        </div>
    </div>
    </body>
</html>